{% extends "layout/base.html" %}

{% block title %}
  Sign In
{% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid image-container vh-100 position-absolute top-0 start-0 d-flex justify-content-center align-items-center">
  <div class="row container d-flex justify-content-center align-items-center">
    <div class="col col-md-8 col-lg-6 card p-0">
      <div class="card-header p-0">
        <div class="background-color-blue text-white border-bottom-orange">
          <h1 class="text-large text-center p-3">{% trans "Sign In" %}</h1>
        </div>
      </div>
      <div class="card-body">

        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>





{% endblock %}