
<div class="form-group d-flex justify-content-around justify-content-md-center align-items-center mt-5">
    <button class="btn btn-green text-white text-medium d-flex flex-row justify-content-center align-items-center me-md-5"
        type="submit" aria-labelledby="cancel-create-machine">
        <i class="fas fa-plus me-3"></i>
        Update
    </button>
    <span class="sr-only" id="cancel-create-machine">Green button with white writing and a plus icon,
        navigates to the dashboard saving the form details.</span>

    <a href="{% url 'dashboard' %}"
        class="btn btn-orange text-white text-medium d-flex flex-row justify-content-center align-items-center ms-md-5"
        aria-labelledby="cancel-create-machine">
        <i class="fas fa-arrow-right me-3"></i>
        Cancel
    </a>
    <span class="sr-only" id="cancel-create-machine">Orange button with white writing and a back arrow icon,
        navigates to the dashboard without saving.</span>
</div>