<!-- Details cards -->

<div class="container-fluid landing-content-container m-0 p-5">

    <h1 class="text-blue text-center text-large pb-5">
        Machine Issue Reporting System
    </h1>

    <div class="row container-fluid d-flex justify-content-around m-0 pb-5">
        <div class="col-12 col-md-3 box-shadow-blue background-color-red p-3 m-3 m-md-0">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <i class="fas fa-cogs text-xlarge text-white p-5"></i>
                </div>
                <div class="col-12">
                    <p class="text-white text-center text-medium py-3">
                        Automated reporting of issues and defects on the department's machines.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 box-shadow-blue background-color-red p-3 m-3 m-md-0">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <i class="fas fa-wrench text-xlarge text-white p-5"></i>
                </div>
                <div class="col-12">
                    <p class="text-white text-center text-medium py-3">
                        Downtime is greatly reduced allowing the machines to be available more to students.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 box-shadow-blue background-color-red p-3 m-3 m-md-0">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <i class="fas fa-info-circle text-xlarge text-white p-5"></i>
                </div>
                <div class="col-12">
                    <p class="text-white text-center text-medium py-3">
                        The end of endless emails and paper trails, with the potential for loss of information
                        eliminated. </p>
                </div>
            </div>
        </div>
    </div>
</div>