{% extends "layout/base.html" %}

{% load widget_tweaks %}

{% block content %}


<div
    class="row my-5 mx-0 p-3 container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 card p-0">
        <form method="post">
            {% csrf_token %}

            <div class="background-color-blue text-white border-bottom-orange">
                <h5 class="text-large text-center p-3" id="staticBackdropLabel">Create Machine</h5>
            </div>
            <div class="modal-body text-center">
                <div class="issue-form-comtainer p-md-5" id="create-issue-form-section">
                    
                    <form method="POST" class="p-3" id="create-issue-form">
                        
                        <div class="row container-fluid m-auto">
                            {% csrf_token %}                        
                                                   
                            <div class="form-group d-flex flex-column my-md-4 my-2">
                                <label for="{{ form.name.id_for_label }}" class="text-medium align-self-start mt-3 mb-2">Name: </label>
                                <span class="form-input mx-3">{{ form.name | add_class:'form-control text-small' }}</span>
                                <span class="text-small text-start text-blue-opaque mx-3">Must be unique</span>
                            </div>

                            <div class="form-group d-flex flex-column my-md-4 my-2">
                                <label for="{{ form.slug.id_for_label }}" class="text-medium align-self-start mt-3 mb-2">ID: </label>
                                <span class="form-input mx-3">{{ form.slug | add_class:'form-control text-small' }}</span>
                                <span class="text-small text-start text-blue-opaque mx-3">Must have no spaces</span>
                            </div>

                            <div class="form-group d-flex flex-column my-md-4 my-2">
                                <label for="{{ form.description.id_for_label }}" class="text-medium align-self-start mt-3 mb-2">Description: </label>
                                <span class="form-input mx-3">{{ form.description | add_class:'form-control text-small' }}</span>
                            </div>

                            <div class="form-group d-flex flex-column my-md-4 my-2">
                                <label for="{{ form.status.id_for_label }}" class="text-medium align-self-start mt-3 mb-2">Status: </label>
                                <span class="form-input mx-3">{{ form.status | add_class:'form-control text-small' }}</span>
                            </div>

                            <div class="form-group d-flex flex-column my-md-4 my-2">
                                <label for="{{ form.image.id_for_label }}" class="text-medium align-self-start mt-3 mb-2">Image: </label>
                                <span class="form-input mx-3">{{ form.image | add_class:'form-control text-small' }}</span>
                            </div>

                        </div>
                </div>
                <div class="modal-footer d-flex justify-content-around align-items-center">

                    <button type="submit" class="btn btn-green text-white text-medium" aria-labelledby="submit-issue-form">
                    <i class=" fas fa-caret-right me-3"></i>
                        Submit
                    </button>
                    <span class="sr-only" id="submit-issue-form">A green button with white text and a right pointing caret
                        icon, submits the issue form and closes the modal</span>


                    <button type="button" class="btn btn-orange text-white text-medium" data-bs-dismiss="modal"
                        aria-labelledby="cancel-issue-form">
                        <i class="fas fa-arrow-right me-2"></i>
                        Cancel</button>
                    <span class="sr-only" id="cancel-issue-form">An orange button with white text and a back arrow
                        icon, closes the modal and returns to the machine page</span>

                </div>

                </form>
            </div>

            <!-- <div>
                {% for error in field.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>

            {{ form.non_field_errors }}
            <h1 class="text-center text-white background-color-blue p-3 border-bottom-orange round-corners">Create a
                Machine</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="my-3 my-md-5 d-flex flex-column flex-md-row justify-content-center align-items-center">
                        {{ form.name.errors }}
                        <label for="{{ form.name_for_label }}" class="align-self-md-start mb-3 me-2">Name:</label>
                        <div>
                            <span aria-labelledby="create-machine-name" class="form-input">{{ form.name }}</span>
                            <div class="form-text">Unique name required</div>
                            <span class="sr-only" id="create-machine-name">A required text input for the name of the machine, must be a unique name</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="my-3 my-md-5 d-flex flex-column flex-md-row justify-content-center align-items-center">
                        {{ form.slug.errors }}
                        <label for="{{ form.slug_for_label }}" class="align-self-md-start mb-3 me-3">ID:</label>
                        <div>
                            <span aria-labelledby="create-machine-slug" class="form-input">{{ form.slug }}</span>
                            <div class="form-text">No spaces between text</div>
                            <span class="sr-only">A required text input for the id of the machine, must be a unique id with no spaces.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-3 my-md-5 d-flex flex-column flex-md-row justify-content-center align-items-center">
                {{ form.status.errors }}
                <label for="{{ form.status_for_label }}" class="align-self-md-start me-3">Status:</label>
                <div>
                    <span class="form-input" aria-labelledby="create-machine-status">{{ form.status }}</span>
                </div>
                <span class="sr-only" id="create-machine-status">A required select input for the status of a machine, default set to working, second option is faulty</span>
            </div>

            <div class="my-3 d-flex flex-column justify-content-center align-items-center">
                {{ form.description.errors }}
                <div class="row justify-content-center align-items-center my-3 my-md-5">
                    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                        <label for="{{ form.description.for_label }}" class="align-self-md-start mb-3" aria-labelledby="create-machine-description">
                            Machine Description:</label>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="d-flex flex-column flex-md-row d-flex flex-column justify-content-center align-items-center">
                            {{ form.description }}</div>
                    </div>
                    <span class="sr-only" id="create-machine-description">A required textarea for a detailed description of the machine</span>
                </div>
            </div>

            <div class="mt-3 mb-5 my-md-5 d-flex flex-column flex-md-row justify-content-center align-items-center">
                {{ form.image.errors }}
                <label for="{{ form.image_for_label }}" class="align-self-md-start mb-3 me-3">Image:</label>
                <div>
                    <span
                        class="form-input image-input d-flex justify-content-center align-items-center" aria-labelledby="create-machine-image">{{ form.image }}</span>
                </div>
                <span id="create-machine-image">A grey button for an optional upload image input</span>
            </div>

            <div class="form-group d-flex justify-content-around align-items-center mt-5">
                <button
                    class="btn btn-green text-white text-medium d-flex flex-row justify-content-center align-items-center"
                    type="submit" aria-labelledby="cancel-create-machine">
                    <i class="fas fa-plus me-3"></i>
                    Create
                </button>
                <span class="sr-only" id="cancel-create-machine">Green button with white writing and a plus icon,
                    navigates to the dashboard saving the form details.</span>

                <a href="{% url 'dashboard' %}"
                    class="btn btn-orange text-white text-medium d-flex flex-row justify-content-center align-items-center"
                    aria-labelledby="cancel-create-machine">
                    <i class="fas fa-arrow-right me-3"></i>
                    Cancel
                </a>
                <span class="sr-only" id="cancel-create-machine">Orange button with white writing and a back arrow icon,
                    navigates to the dashboard without saving.</span>
            </div> -->
        </form>
    </div>
</div>



{% endblock content %}