{% extends "layout/base.html" %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}

<section>
    
    <!-- Spacer for messages -->
    {% include 'components/messages/messages-spacer.html' %}

    <!-- Dashboard title -->
    {% include 'components/dashboard/dashboard-title.html' %}

    <!-- Machienary cards -->
    <div class="pb-5 my-2">
        <div class="container mx-auto">
            <div class="row">

                <!-- Individual machine cards -->
                {% include 'components/dashboard/machine-cards.html' %}

                <!-- Pagination  -->
                {% include 'layout/pagination.html' %}

            </div>
        </div>
    </div>

</section>

{% endblock content %}