{% extends "base.html" %}


{% block content %}

<section>
    <!-- Machienary cards -->
    <div class="pb-5 my-2">
        <div class="container mx-auto">
            <div class="row">

                <!-- Create a machine card -->
                {% include 'components/dashboard/create-machine.html' %}

                <!-- Individual machine cards -->
                {% include 'components/dashboard/machine-cards.html' %}

            </div>
        </div>
    </div>

</section>

{% endblock content %}