{% extends "layout/base.html" %}

{% block title %}
    Edit Machine
{% endblock title %}

{% load widget_tweaks %}

{% block content %}


<!-- Edit machine form -->

<div class="row mx-0 p-3 container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 card p-0 my-5">
        <div class="background-color-blue text-white border-bottom-orange">
            <h5 class="text-large text-center p-3" id="staticBackdropLabel">Edit Machine</h5>
        </div>

        <!-- Create a machine form -->
        <form method="post">
            {% csrf_token %}

            <div class="text-center">
                <div class="issue-form-comtainer p-md-5" id="create-issue-form-section">

                    <div class="row container-fluid m-auto">
                        {% csrf_token %}

                        <!-- Fields -->
                        <div class="form-group d-flex flex-column my-md-4 my-2">
                            <label for="{{ form.name.id_for_label }}"
                                class="text-medium align-self-start mt-3 mb-2">Name: </label>
                            <span class="m-0 p-0 text-red text-start">{{ form.name.errors }}</span>
                            <span class="form-input mx-3">{{ form.name | add_class:'form-control text-small' }}</span>
                            <span class="text-small text-start text-blue-opaque mx-3">Must be unique</span>
                        </div>

                        <div class="form-group d-flex flex-column my-md-4 my-2">
                            <label for="{{ form.description.id_for_label }}"
                                class="text-medium align-self-start mt-3 mb-2">Description: </label>
                            <span class="m-0 p-0 text-red text-start">{{ form.description.errors }}</span>
                            <span
                                class="form-input mx-3">{{ form.description | add_class:'form-control text-small' }}</span>
                        </div>

                        <div class="form-group d-flex flex-column my-md-4 my-2">
                            <label for="{{ form.status.id_for_label }}"
                                class="text-medium align-self-start mt-3 mb-2">Status: </label>
                            <span class="m-0 p-0 text-red text-start">{{ form.status.errors }}</span>
                            <span class="form-input mx-3">{{ form.status | add_class:'form-control text-small' }}</span>
                        </div>

                        <div class="form-group d-flex flex-column my-md-4 my-2">
                            <label for="{{ form.image.id_for_label }}"
                                class="text-medium align-self-start mt-3 mb-2">Image: </label>
                            <span class="m-0 p-0 text-red text-start">{{ form.image.errors }}</span>
                            <span
                                class="form-input mx-3 text-start">{{ form.image | add_class:'form-control text-small' }}</span>
                        </div>

                    </div>

                    <!-- Update and cancel buttons -->
                    {% include 'components/edit-machine/buttons.html' %}

                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}