{% extends "layout/base.html" %}


{% block content %}

<!-- Reporting an issue alert -->

<div class="alert d-flex align-items-center justify-content-center rounded-0" role="alert">
    <button data-bs-toggle="modal" data-bs-target="#createIssue" aria-labelledby="dashboard-delete-machine-button"
        class="btn btn-green btn-wide text-medium text-white link-text text-decoration-none">
        <i class="fas fa-plus me-3"></i>
        Report an Issue
    </button>
</div>


<!-- Create an issue modal -->
{% include 'components/individual-machine/create-issue-modal.html' %}



{% endblock content %}