{% if user.is_authenticated %}
    <ul class="d-none d-md-flex flex-row m-0 list-unstyled">
        <!-- Dashboard dropdown options if the user is a staff member -->
        {% if user.is_staff %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-active mx-3 mx-lg-5 text-medium p-0" href="{% url 'dashboard' %}"
                id="navbarDropdownDashboardDesktop" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                aria-labelledby="dashboard-staff-lg">
                <i class="fas fa-home me-2"></i> Dashboard
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownDashboardDesktop">
                <li>
                    <a class="dropdown-item text-small px-5" href="{% url 'dashboard' %}"
                        aria-labelledby="dashboard-view-lg">
                        View Machines
                    </a>
                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a class="dropdown-item text-small px-5" href="{% url 'create-machine' %}"
                        aria-labelledby="dashboard-create-lg">
                        Create Machine
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}

        <!-- Dashboard for basic user -->
        {% if not user.is_staff %}
            <li>
                <a href="{% url 'dashboard' %}" class="nav-link nav-active mx-3 mx-lg-5 text-medium p-0" aria-labelledby="dashboard-basic-lg">
                    <i class="fas fa-home me-2"></i> Dashboard
                </a>
            </li>
        {% endif %}

            <li>
                <a href="{% url 'open-issues' %}" class="nav-link nav-active mx-3 mx-lg-5 text-medium p-0" aria-labelledby="issues-lg">
                    <i class="fas fa-exclamation-triangle me-2"></i> Issues
                </a>
            </li>

        <!-- Profile dropdown options if the user is a staff member -->
        {% if user.is_staff %}
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle nav-active mx-3 mx-lg-5 text-medium p-0"
                    id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                    aria-labelledby="profile-lg">
                    <i class="fas fa-user me-2"></i> Profile
            </div>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- Edit profile -->
                    <li>
                        <a class="dropdown-item text-small px-5" href="{% url 'edit-profile' %}"
                            aria-labelledby="profile-edit-lg">
                            Edit Profile
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <!-- View all users profiles -->
                    <li>
                        <a class="dropdown-item text-small px-5" href="{% url 'all-users' %}"
                            aria-labelledby="profile-all-users-lg">
                            All Users
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        <!-- Profile for basic user -->
        {% if not user.is_staff %}
            <li>
                <a href="{% url 'edit-profile' %}" class="nav-link nav-active mx-3 mx-lg-5 text-medium p-0"
                    aria-labelledby="profile-basic-lg">
                    <i class="fas fa-user me-2"></i> Profile
                </a>
            </li>
        {% endif %}

        <!-- Logout -->
        <li>
            <a href="{% url 'logout' %}" class="nav-link nav-active mx-3 mx-lg-5 text-medium p-0"
                aria-labelledby="logout-lg">
                <i class="fas fa-sign-out-alt me-2"></i> Logout
            </a>
        </li>

        <li>
            <button id="searchbar-button-machines-desktop"
                class="px-2 py-0 btn btn-wide btn-white text-medium text-blue align-items-center" aria-label="Search">
                <i class="fas fa-search"></i>
            </button>
        </li>
    </ul>

<!-- Searchbar -->
{% include 'components/navbar/searchbar.html' %}

{% endif %}