
<!-- Navigation links if the user is anonymous -->

{% if user.is_anonymous %}
    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5" data-bs-dismiss="offcanvas">

            <a href="{% url 'account_login' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="profile-sm">
                <i class="fas fa-lock me-3"></i> Login
            </a>
            <span id="profile-sm" class="sr-only">A link with white text and an icon of a lock that
                navigates to the user login page in the same tab</span>
        </div>
    </div>

    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5" data-bs-dismiss="offcanvas">
            <a href="{% url 'account_signup' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="logout-sm">
                <i class="fas fa-user-circle me-3"></i> Signup
            </a>
            <span id="logout-sm" class="sr-only">A link with a blue background, white text and an
                icon of an person in a circle that navigates to the sign up page in the same
                tab</span>
        </div>
    </div>
{% endif %}