
{% if user.is_anonymous %}
    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5" data-bs-dismiss="offcanvas">

            <a href="{% url 'login' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="login-sm">
                <i class="fas fa-lock me-3"></i> Login
            </a>

        </div>
    </div>

    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5" data-bs-dismiss="offcanvas">
            <a href="{% url 'signup' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="signup-sm">
                <i class="fas fa-user-circle me-3"></i> Signup
            </a>

        </div>
    </div>
{% endif %}
