<!-- Navigation links if the user is authenticated -->

{% if user.is_authenticated %}
    <!-- Navigation dashboard dropdown options if user is staff -->
    {% if user.is_staff %}
    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5">
            <ul class="list-unstyled">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-medium" id="navbarDropdownDashboardMobile" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" aria-labelledby="dashboard-staff-sm">
                        <i class="fas fa-home me-3"></i> Dashboard
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownDashboardMobile" data-bs-dismiss="offcanvas">
                        <li><a class="dropdown-item text-small px-3 mx-5 text-blue" href="{% url 'dashboard' %}"
                                aria-labelledby="dashboard-view-sm">
                                View Machines
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item text-small px-3 mx-5 text-blue" href="{% url 'create-machine' %}"
                                aria-labelledby="dashboard-create-sm">
                                Create Machine
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}

    <!-- Navigation dashboard link for basic user -->
    {% if not user.is_staff %}
    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5" data-bs-dismiss="offcanvas">

            <a href="{% url 'dashboard' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="dashboard-not-staff">
                <i class="fas fa-home me-3"></i> Dashboard
            </a>
            
        </div>
    </div>
    {% endif %}

    <!-- Navigation issues page link -->
    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5" data-bs-dismiss="offcanvas">

            <a href="{% url 'open-issues' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="issues-nav-link">
                <i class="fas fa-exclamation-triangle me-3"></i> Issues
            </a>
        </div>
    </div>

    <!-- Navigation profile dropdown options if user is staff -->
    {% if user.is_staff %}
    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5">
            <ul class="list-unstyled">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-medium" id="navbarDropdownProfileDesktop" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" aria-labelledby="profile-staff-sm">
                        <i class="fas fa-user me-3"></i>Profile
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProfileDesktop" data-bs-dismiss="offcanvas">

                        <li><a class="dropdown-item text-small px-3 mx-5 text-blue" href="{% url 'edit-profile' %}"
                                aria-labelledby="profile-edit-sm">
                                Edit Profile
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item text-small px-3 mx-5 text-blue" href="{% url 'all-users' %}"
                                aria-labelledby="profile-all-users-sm">
                                All Users
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}


    <!-- Navigation profile link for basic user -->
    {% if not user.is_staff %}
        <div class="p-1 my-2 nav-link-mobile-border">
            <div class="p-5" data-bs-dismiss="offcanvas">

                <a href="{% url 'edit-profile' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="profile-sm">
                    <i class="fas fa-user me-3"></i> Profile
                </a>

            </div>
        </div>
    {% endif %}


    <!-- Navigation logout link -->
    <div class="p-1 my-2 nav-link-mobile-border">
        <div class="p-5" data-bs-dismiss="offcanvas">

            <a href="{% url 'logout' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="logout-sm">
                <i class="fas fa-sign-out-alt me-3"></i> Logout
            </a>

        </div>
    </div>
{% endif %}
