
<!-- Change the href from homepage to dashboard depending on authentication status -->
{% if user.is_authenticated %}

    <!-- Link to dashboard -->
    <a href="#" class="" aria-labelledby="site-logo-auth-mobile">
        <p id="offcanvasRightLabel" class="m-0 logo heading-text">TU Dublin</p>
    </a>
    <span id="site-logo-auth-mobile" class="sr-only">A link with a blue background, white text that navigates to the dashboard page in the same tab</span>

    {% else %}

    <!-- Link to homepage -->
    <a href="#" class="" aria-labelledby="site-logo-mobile">
        <p id="offcanvasRightLabel" class="m-0 logo heading-text">TU Dublin</p>
    </a>
    <span id="site-logo-mobile" class="sr-only">A link with a blue background, white text that navigates to the homepage in the same tab</span>

{% endif %}
