<!-- Navigation links if the user is authenticated -->

{% if user.is_authenticated %}
{% if user.is_staff %}
<div class="p-1 my-2 nav-link-mobile-border">
    <div class="p-5">
        <ul class="list-unstyled">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-medium" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" aria-labelledby="dashboard-staff-sm">
                    <i class="fas fa-home me-3"></i> Dashboard
                </a>
                <span id="dashboard-staff-sm" class="sr-only">A link with white text and an icon of a house on the left
                    and a down chevron on the
                    right that opens a dropdown menu</span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-dismiss="offcanvas">
                    <li><a class="dropdown-item text-small px-3 mx-5 text-blue" href="{% url 'dashboard' %}"
                            aria-labelledby="dashboard-view-sm">View Machines</a></li>
                    <span id="dashboard-view-sm" class="sr-only">A link with blue text that navigates to the dashboard
                        page in the same tab</span>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-small px-3 mx-5 text-blue" href="{% url 'create-machine' %}"
                            aria-labelledby="dashboard-create-sm">Create Machine</a>
                    </li>
                    <span id="dashboard-create-sm" class="sr-only">A link with blue text that navigates to the create a
                        machine page in the same tab</span>

                </ul>
            </li>
        </ul>
    </div>
</div>
{% endif %}

{% if not user.is_staff %}
<div class="p-1 my-2 nav-link-mobile-border">
    <div class="p-5" data-bs-dismiss="offcanvas">

        <a href="{% url 'dashboard' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="dashboard-sm">
            <i class="fas fa-home me-3"></i> Dashboard
        </a>
        <span id="dashboard-sm" class="sr-only">A link with a blue background, white text and an
            icon of a house that navigates to the dashboard page in the same tab</span>
    </div>
</div>
{% endif %}

<div class="p-1 my-2 nav-link-mobile-border">
    <div class="p-5" data-bs-dismiss="offcanvas">

        <a href="{% url 'open-issues' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="issues-sm">
            <i class="fas fa-exclamation-triangle me-3"></i> Issues
        </a>
        <span id="issues-sm" class="sr-only">A link with a blue background, white text and an
            icon of a warning that navigates to the issues page in the same tab</span>
    </div>
</div>

{% if user.is_staff %}
<div class="p-1 my-2 nav-link-mobile-border">
    <div class="p-5">
        <ul class="list-unstyled">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-medium" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false" aria-labelledby="dashboard-staff-sm">
                    <i class="fas fa-user me-3"></i> Profile
                </a>
                <span id="dashboard-staff-sm" class="sr-only">A link with white text and an icon of a house on the left
                    and a down chevron on the
                    right that opens a dropdown menu</span>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-dismiss="offcanvas">
                    <li><a class="dropdown-item text-small px-3 mx-5 text-blue" href="{% url 'edit-profile' %}"
                            aria-labelledby="dashboard-view-sm">Edit Profile</a></li>
                    <span id="dashboard-view-sm" class="sr-only">A link with blue text that navigates to the edit
                        profile
                        page in the same tab</span>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-small px-3 mx-5 text-blue" href="{% url 'all-users' %}"
                            aria-labelledby="dashboard-create-sm">All Users</a>
                    </li>
                    <span id="dashboard-create-sm" class="sr-only">A link with blue text that navigates to the all users
                        page in the same tab</span>

                </ul>
            </li>
        </ul>
    </div>
</div>
{% endif %}

{% if not user.is_staff %}
<div class="p-1 my-2 nav-link-mobile-border">
    <div class="p-5" data-bs-dismiss="offcanvas">

        <a href="{% url 'edit-profile' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="profile-sm">
            <i class="fas fa-user me-3"></i> Profile
        </a>
        <span id="profile-sm" class="sr-only">A link with white text and an icon of a person
            that
            navigates to the user prfoile page in the same tab</span>
    </div>
</div>
{% endif %}

<div class="p-1 my-2 nav-link-mobile-border">
    <div class="p-5" data-bs-dismiss="offcanvas">
        <a href="{% url 'logout' %}" class="nav-link nav-active ms-1 text-medium" aria-labelledby="logout-sm">
            <i class="fas fa-sign-out-alt me-3"></i> Logout
        </a>
        <span id="logout-sm" class="sr-only">A link with a blue background, white text and an
            icon of an arrow that navigates to the logout page in the same tab</span>
    </div>
</div>
{% endif %}