<!-- Mobile navigation dashboard dropdown  -->
<span id="dashboard-staff-sm" class="sr-only">
    A link with white text and an icon of a house on the left and a down chevron on the
    right that opens a dropdown menu
</span>
<span id="dashboard-view-sm" class="sr-only">
    A link with blue text that navigates to the dashboard page in the same tab
</span>
<span id="dashboard-create-sm" class="sr-only">
        A link with blue text that navigates to the create a machine page in the same tab
</span>