
<!-- Change the href from homepage to dashboard depending on authentication status -->
{% if user.is_authenticated %}

    <a href="{% url 'dashboard' %}" class="text-decoration-none nav-link" aria-labelledby="site-logo-auth-mobile">
        <p id="offcanvasRightLabel" class="m-0 text-medium">{{ university_name }}</p>
    </a>
    <span id="site-logo-auth-mobile" class="sr-only">A link with a blue background, white text that navigates to the
        dashboard page in the same tab</span>

{% else %}

    <a href="/" class="text-decoration-none nav-link" aria-labelledby="site-logo-mobile">
        <p id="offcanvasRightLabel" class="m-0 text-medium">{{ university_name }}</p>
    </a>
    <span id="site-logo-mobile" class="sr-only">A link with a blue background, white text that navigates to the homepage in
        the same tab</span>

{% endif %}