<div class="searchbar-container background-color-opaque p-3 border-bottom-orange" id="searchbar">
    <form action="{% url 'search-machines' %}" method="get" class="align-items-center">
        {% csrf_token %}
        <input type="text" class="my-0 me-3" name="searchbar" placeholder="Search Machines">
        <button type="submit" class="btn btn-wide btn-white text-small text-blue align-items-center">
            <i class="fas fa-search"></i>
        </button>
        <a href="{% url 'dashboard' %}" class="btn btn-wide btn-white text-small text-blue align-items-center ms-2">
            <i class="fas fa-times m-1"></i>
        </a>
    </form>
</div>
