
<!-- Desktop view of social media links -->
<div class="position-relative">
<div
    class="d-none d-md-flex align-items-center justify-content-around position-absolute top-50 end-0 translate-middle-y">

    <a class="social-link social-link-desktop text-medium text-decoration-none d-flex align-items-center justify-content-center mx-3 mx-lg-5"
        href="{{ facebook }}" target="_blank" rel="noopener"
        aria-label="Link to TU Dublin facebook page (Opens in a new tab)">
        <i class="fab fa-facebook-f"></i>
    </a>

    <a class="social-link social-link-desktop text-medium text-decoration-none d-flex align-items-center justify-content-center mx-3 mx-lg-5"
        href="{{ instagram }}" target="_blank" rel="noopener"
        aria-label="Link to TU Dublin instagram page (Opens in a new tab)">
        <i class="fab fa-instagram"></i>
    </a>

    <a class="social-link social-link-desktop text-medium text-decoration-none d-flex align-items-center justify-content-center mx-3 mx-lg-5"
        href="{{ twitter }}" target="_blank" rel="noopener"
        aria-label="Link to TU Dublin twitter page (Opens in a new tab)">
        <i class="fab fa-twitter"></i>
    </a>
</div>
</div>