
<!-- Desktop view of social media links -->
<div
    class="d-none d-md-flex align-items-center justify-content-around position-absolute social-links-inner-container-desktop">

    <a class="social-link social-link-desktop text-medium text-decoration-none d-flex align-items-center justify-content-center"
        href="https://www.facebook.com/TechnologicalUniversityDublin.TUDublin/" target="_blank" rel="noopener"
        aria-label="Link to TU Dublin facebook page (Opens in a new tab)">
        <i class="fab fa-facebook-f"></i>
    </a>

    <a class="social-link social-link-desktop text-medium text-decoration-none d-flex align-items-center justify-content-center"
        href="https://www.instagram.com/tudublin/?hl=en" target="_blank" rel="noopener"
        aria-label="Link to TU Dublin instagram page (Opens in a new tab)">
        <i class="fab fa-instagram"></i>
    </a>

    <a class="social-link social-link-desktop text-medium text-decoration-none d-flex align-items-center justify-content-center"
        href="https://twitter.com/wearetudublin?lang=en" target="_blank" rel="noopener"
        aria-label="Link to TU Dublin twitter page (Opens in a new tab)">
        <i class="fab fa-twitter"></i>
    </a>
</div>