
<!-- Button to toggle the social links container -->
<div class="position-relative">
<button id="social-links-button" name="Social links container toggle" aria-labelledby="social-links-container-toggle"
    class="d-md-none text-medium social-links-button rounded btn-red text-white position-absolute top-50 end-0 translate-middle-y"><i
        class="fas fa-link"></i></button>
</div>
<span class="sr-only" id="social-links-container-toggle">A red button with white icon of a link, opens the social links container.</span>
<!-- Mobile view of social media links -->
<div id="social-links" class="position-fixed bottom-0 end-0 p-3 social-links-container">
    <div class="d-flex flex-column align-items-center justify-content-around social-links-inner-container">

        <a class="social-link text-decoration-none social-link-mobile d-flex align-items-center justify-content-center"
            href="{{ facebook }}" target="_blank" rel="noopener"
            aria-label="Link to TU Dublin facebook page (Opens in a new tab)">
            <i class="fab fa-facebook-f"></i>
        </a>

        <a class="social-link text-decoration-none social-link-mobile d-flex align-items-center justify-content-center"
            href="{{ instagram }}" target="_blank" rel="noopener"
            aria-label="Link to TU Dublin instagram page (Opens in a new tab)">
            <i class="fab fa-instagram"></i>
        </a>

        <a class="social-link text-decoration-none social-link-mobile d-flex align-items-center justify-content-center"
            href="{{ twitter }}" target="_blank" rel="noopener"
            aria-label="Link to TU Dublin twitter page (Opens in a new tab)">
            <i class="fab fa-twitter"></i>
        </a>

    </div>
</div>