
<!-- Button to toggle the social links container -->
<button id="social-links-button"
    class="d-md-none text-medium social-links-button rounded btn-red text-white position-fixed bottom-0 end-0"><i
        class="fas fa-link"></i></button>

<!-- Mobile view of social media links -->
<div id="social-links" class="position-fixed bottom-0 end-0 p-3 social-links-container">
    <div class="d-flex flex-column align-items-center justify-content-around social-links-inner-container">

        <a class="social-link text-decoration-none social-link-mobile d-flex align-items-center justify-content-center"
            href="https://www.facebook.com/TechnologicalUniversityDublin.TUDublin/" target="_blank" rel="noopener"
            aria-label="Link to TU Dublin facebook page (Opens in a new tab)">
            <i class="fab fa-facebook-f"></i>
        </a>

        <a class="social-link text-decoration-none social-link-mobile d-flex align-items-center justify-content-center"
            href="https://www.instagram.com/tudublin/?hl=en" target="_blank" rel="noopener"
            aria-label="Link to TU Dublin instagram page (Opens in a new tab)">
            <i class="fab fa-instagram"></i>
        </a>

        <a class="social-link text-decoration-none social-link-mobile d-flex align-items-center justify-content-center"
            href="https://twitter.com/wearetudublin?lang=en" target="_blank" rel="noopener"
            aria-label="Link to TU Dublin twitter page (Opens in a new tab)">
            <i class="fab fa-twitter"></i>
        </a>

    </div>
</div>