@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
/*
Headings - font-weight 900
font-family: 'Lato', sans-serif;

Content - font-weight 300
font-family: 'Roboto', sans-serif;
*/

:root {
    --blue: #004C6C;
    --blue-opaque: rgba(0, 76, 108, 0.9);
    --red: #A90F26;
    --orange: #BF510D;
    --green: #005C48;
    --white: #ffffff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}


/* Fonts */

.text-small {
    font-size: 1.5rem;
}

.text-medium {
    font-size: 2rem;
}

.text-large {
    font-size: 3rem;
}

.text-xlarge {
    font-size: 5rem;
}


.text-blue {
    color: var(--blue);
}

.text-blue-opaque {
    color: var(--blue-opaque);
}

.text-red {
    color: var(--red);
}

.text-white {
    color: var(--white);
}

/* General Styles */

.border-bottom-orange {
    border-bottom: 2px solid var(--orange);
}

.border-top-orange {
    border-top: 2px solid var(--orange);
}

.background-color-blue {
    background-color: var(--blue);
}

.background-color-orange {
    background-color: var(--orange);
}

.background-color-red {
    background-color: var(--red);
}

.round-corners {
    border-radius: 0.5rem
}

.card {
    border-color: var(--blue);
}

.box-shadow-blue {
    box-shadow: 0px 0px 5px 0px var(--blue);
}

/* Hover & Focus Effects */

.nav-link:hover,
.nav-link:focus,
.nav-link-blue:hover,
.nav-link-blue:focus,
.social-link-desktop:hover,
.social-link-desktop:focus {
    color: var(--orange);
}

/* Buttons */

.btn {
    width: 11rem;
}

.btn-red {
    background-color: var(--red);
}

.btn-green {
    background-color: var(--green);
}

.btn-orange {
    background-color: var(--orange);
}

.btn-wide {
    width: auto;
}

.close-btn {
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 0px 5px 2px var(--blue);
}

.close-btn:hover,
.close-btn:focus {
    box-shadow: 0px 0px 5px 2px var(--orange);
}

/* Alerts */

.alert-message {
    z-index: 2;
}

/* Forms */

.errorlist li {
    list-style: none;
}

.errorlist {
    margin: auto;
}

/* Containers */
.form-page-container {
    margin-bottom: 7rem;
}

.image-container{
    background: url("../images/landing-image.jpg") center center;
    background-size: cover;
    background-color:var(--blue-opaque);
    height: 100vh;
}

.hero-container {
    background: url("../images/landing-image2.jpg") center center;
    background-size: cover;
    background-color:var(--blue-opaque);
    height: 75vh;
}

.cut-box-container {
    height: 15rem;
    width: 30rem;
    clip-path: polygon(100% 0%, 100% 64%, 82% 100%, 0% 100%, 0% 0%);
}

.landing-content-container {
    height: auto;
}
        
/* Navbar */

.navbar {
    height: 5rem;
    z-index: 3;
}

.nav-link {
    color: var(--white);
}


.navbar-dark .navbar-toggler {
    border-color:var(--blue);
}

.navbar-toggler-icon {
    height: 3rem;
    width: 3rem;
}

.nav-link-mobile-border {
    border-left: 1.5rem solid var(--orange);
    background-color: var(--blue-opaque);
    border-radius: 0.5rem;
}

/* Footer */

.footer {
    height: 5rem;
}

.social-link {
    width: 4rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    color: var(--white);
}

.social-links-inner-container-desktop {
    width: 25rem;
}

.social-links-button {
    margin: 0 1rem 0.8rem 0;
    border: none;
}

.social-links-container {
    height: 22rem;
    width: 5rem;
    background-color: var(--red);
    margin-bottom: 5rem;
    display: none;
    border-top-left-radius: 0.5rem; 
}

.social-links-inner-container {
    height: 100%;
}

/* Dashboard */

.machine-status-alert {
    width: 100%;
}

/* Forms */

.image-input input {
    max-width: 70%;
}

input, textarea, select {
    border: 1px solid var(--blue);
    background-color: var(--white);
    border-radius: 0.5rem;
}

select {
    padding: 2px;
}

.form-border {
    border: 2px solid var(--blue);
    padding: 2rem;
    border-radius: 0.5rem;
}

#file-upload-button {
    background-color: var(--blue);
}

