{% load static %}

{% if request.user.is_staff %}
<div class="col-md-6 col-lg-4 my-5 m-auto">
    <div class="card shadow">

        <!-- Create machine image and title -->
        <!-- Add link to create a machine page -->
        <a href="{% url 'create-machine' %}" class="text-decoration-none card-content" aria-labelledby="dashboard-create-machine">

            <img class="card-img-top" src="{% static 'images/tu-dublin-logo.jpeg' %}" alt="Image of TU Dublin Logo">

            <div class="card-body dashboard-card-body">
                <h5 class="p-3 text-center m-0 text-blue text-large">Create a Machine</h5>
            </div>
        </a>
        <span id="dashboard-create-machine" class="sr-only">Link with the TU Dublin logo for creating a new machine,
            opens the create a machine page in the same tab</span>

        <hr class="m-0">

        <!-- Create machine button -->
        <div class="p-3 my-3 d-flex flex-row justify-content-around align-items-center">
            <a href="{% url 'create-machine' %}"
                class="btn btn-green text-white text-medium d-flex flex-row justify-content-center align-items-center"
                aria-labelledby="dashboard-create-machine-button">
                <i class="fas fa-plus me-3"></i>
                Create
            </a>
        </div>
        <span id="dashboard-create-machine-button" class="sr-only">Green button with white writing and a plus symbol for
            creating a new machine, opens the create a machine page in the same tab</span>

    </div>
</div>
{% endif %}