<div class="row my-5 mx-0 p-3 container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 card p-0">

        <div class="background-color-blue text-white border-bottom-orange">
            <h5 class="text-large text-center p-3">
                No machines
            </h5>
        </div>

        <div class="issue-form-comtainer p-md-5">

            <p class="text-medium text-blue text-center mb-5">Currently no machines created.</p>

            {% if user.is_staff %}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="text-blue text-medium">
                        Click the button and create a machine.
                    </p>

                    <a class="btn btn-green btn-wide text-white text-medium mt-5" href="{% url 'create-machine' %}"
                        aria-labelledby="dashboard-empty-page-create-machine">
                        Create Machine
                    </a>
                    <span class="sr-only" id="dashboard-empty-page-create-machine">
                        Green button with white writing that navigates to the create a machine page in the same tab
                    </span>
                </div>
            {% endif %}

        </div>


    </div>
</div>