{% load static %}

<!-- Individual machine cards -->
{% for machine in machine_list %}

    <div class="col-md-6 col-lg-4 my-5 m-auto">
        <div class="card shadow">

            <a href="{% url 'machine-details' machine.slug %}" class="text-decoration-none card-content" aria-labelledby="dashboard-card-{{ machine.slug }}">

                <!-- Add default image if none is uploaded -->
                {% if "placeholder" in machine.image.url %}
                    <img class="card-img-top machine-card-image" src="{% static 'images/tu-dublin-logo.jpeg' %}" alt="TU Dublin Logo">
                {% else %}
                    <img class="card-img-top machine-card-image" src=" {{ machine.image.url }}" alt="Image of {{ machine.name }}">
                {% endif %}

                <div class="card-body dashboard-card-body d-flex align-items-center justify-content-center" style="height: 15rem;">
                    <h2 class="p-3 text-center m-0 text-blue text-large">{{ machine.name }}

                        <!-- Shows alert message if the machine is faulty -->
                        {% if not machine.status %}
                            <span class="btn btn-red text-large text-white position-absolute top-0 start-0 machine-status-alert">
                                {{ current_issue_text }}
                            </span>
                        {% endif %}
                    </h2>
                </div>

            </a>

            <hr class="m-0">

            <span id="dashboard-card-{{ machine.slug }}" class="sr-only">
                A card with the name and image of {{ machine.name }}. Link opens a detailed view of the machine in the same tab
            </span>


            <!-- Show Edit and Delete buttons if user is staff -->
            {% if request.user.is_staff %}
                <div class="p-3 my-3 d-flex flex-row justify-content-around align-items-center">

                    <a data-bs-toggle="modal" data-bs-target="#deleteMachine{{ machine.id }}" aria-labelledby="dashboard-delete-{{ machine.slug }}-button"
                        class="btn btn-red text-white text-medium d-flex flex-row justify-content-center align-items-center">
                        <i class="fas fa-trash-alt me-4"></i>
                        Delete
                    </a>
                    <span class="sr-only" id="dashboard-delete-{{ machine.slug }}-button">
                        A red button with white text and the icon of a dustbin, opens a modal for conformation to delete the machine
                    </span>

                    <a href="{% url 'edit-machine' machine.id %}" aria-labelledby="dashboard-edit-{{ machine.slug }}-button"
                        class="btn btn-orange text-white text-medium d-flex flex-row justify-content-center align-items-center">
                        <i class="fas fa-pen me-4"></i>
                        Edit
                    </a>
                    <span class="sr-only" id="dashboard-edit-{{ machine.slug }}-button">
                        An orange button with white text and the icon of a pencil, navigates to the edit machine page in the same tab
                    </span>

                </div>
            {% endif %}
        </div>
    </div>

    <!-- Delete machine modal -->
    {% include 'components/dashboard/delete-machine-modal.html' %}

    <!-- Text if there are no machines -->
    {% empty %}

    <!-- No machines content -->
    {% include 'components/dashboard/dashboard-page-empty.html' %}

{% endfor %}