<div class="background-color-opaque py-3 px-0 mb-4 border-bottom-orange text-center container-fluid">
    <form action="{% url 'search-users' %}" method="get" class="align-items-center container-fluid p-0 p-md-2">
        {% csrf_token %}
        <div class="row d-flex flex-row justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6">
                <label for="searchbar-users" class="sr-only">Search users by username</label>
                <input type="text" class="my-0 me-3 w-50" name="searchbar-users" id="searchbar-users" placeholder="Search Usernames">
                <button type="submit" class="btn btn-wide btn-white text-small text-blue align-items-center me-2" aria-labelledby="searchbar-users-button">
                    <i class="fas fa-search"></i>
                </button>
                <span class="sr-only" id="searchbar-users-button">A button with a white background and a blue spy glass that searchers the users based on the text input</span>
                <a href="{% url 'all-users' %}" class="btn btn-wide btn-white text-small text-blue align-items-center">
                    <i class="fas fa-times m-1"></i><span class="sr-only">Link that returns the table back to the full list of users</span>
                </a>
            </div>
        </div>
    </form>
</div>