{% load static %}


<!-- Individual machine details -->
<div class="row container-fluid m-0 align-itmes-center justify-content-center">
    <div class="col-12 col-md-10">
        <div class="card">
            <h1 class="background-color-blue border-bottom-orange text-center text-white text-large p-md-3">
                {{ machine.name }}
            </h1>
            <div class="card-body">
                <div class="clearfix p-md-5">

                    {% if "placeholder" in machine.image.url %}
                    <img class="col-12 col-md-6 float-md-end mb-5 ms-md-5 machine-image" src="{% static 'images/tu-dublin-logo.jpeg' %}"
                        alt="TU Dublin Logo">
                    {% else %}
                    <img class="col-12 col-md-6 float-md-end mb-3 ms-md-3 machine-image" src=" {{ machine.image.url }}"
                        alt="Image of {{ machine.name }}">
                    {% endif %}

                    <p class="text-medium">{{ machine.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

